<!-- release modal -->
<% data.releases.each do |r| %>
<div class="modal fade" id="release-modal-<%= r.release.release_key %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="release-title"><%= r.release.artist_name %> - <span class="release-title-format"><span></h2>
                <%= image_tag r.release.image_lg, :class => 'release-full-size-img img-responsive', :alt => r.release.image_alt %>
                <div class="release-price"></div>
                <div class="release-purchase"></div>
            </div>
            <div class="modal-body">
                <div class="release-description"><%= r.release.description_sm %></div>
                <% if r.release.formats.count > 1 %>
                <select class="modal-selectpicker">
                    <% r.release.formats.each_with_index do |rr, index| %>
                      <% v = rr.format.value.gsub('-', ' ').titleize %>
                      <option value="<%= rr.format.value %>" data-description="<%= rr.format.description %>" data-price="<%= rr.format.price %>"><%= v %></option>
                    <% end %>
                </select>
                <% end %>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Track</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    <% r.release.tracks.each_with_index do |rr, index| %>
                    <tr> 
                        <th scope="row"><%= index.next() %></th>
                        <td><%= rr.track.title %></td>
                        <td><%= rr.track.time %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
            <div class="modal-footer">
                <% button = r.release.paypal_button %>
                <script id="test-button" async="async" src="<%= button.destination %>"
                        data-button="<%= button.type %>" 
                        data-name="<%= button.purchase_name %>" 
                        data-amount="<%= button.amount %>" 
                        data-shipping="<%= button.shipping %>" 
                        data-tax="<%= button.tax %>" 
                        data-callback="<%= button.host %>" 
                        ></script>
            </div>
        </div>
    </div>
</div>
<% end %>
