<div>
<ul class="list-group list-unstyled right-bar-shows">
    <% if tag != nil %>
      <% shows = data.shows.upcoming_events.select {|show| show.tag == tag } %>
      <% shows.each do |show| %>
        <li class="show-listing">
          <div class="show-date-location"><%= show.date %> </div>
          <div><%= show.artists %></div>
          <div><a href= "<%= show.location_link %>"> <%= show.location %></a></div>
        </li>
      <% end %>
    <% else %>
    <% data.shows.upcoming_events.each do |show| %>
      <li class="show-listing">
        <div class="show-date-location"><%= show.date %> </div>
        <div><%= show.artists %></div>
        <div><a href= "<%= show.location_link %>"> <%= show.location %></a></div>
      </li>
    <% end %>
  <% end %>
</ul>
</div>
