---
title: Flying Moonlight Records 
---

<!-- Add your site or application content here -->

<% artist = data.artists[artist_name] %>

<div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
            <h1><%= artist.name %></h1>
            <div class="artist">
                <div class="artist-images">
                    <div class="row">
                        <div class="col-md-4">
                            <% if artist.image_vert_width %>
                              <%= image_tag artist.image_vert, :class => 'artist-image-left', :alt => 'Vertical image of ' + artist.name, :style => 'height:' + artist.image_vert_width %>
                            <% elsif artist.image_vert_pad_top %>
                              <%= image_tag artist.image_vert, :class => 'artist-image-left', :alt => 'Vertical image of' + artist.name,  :style => 'padding-top:' + artist.image_vert_pad_top %>
                            <% elsif artist.image_max_width %>
                              <%= image_tag artist.image_vert, :class => 'artist-image-left', :alt => 'Vertical image of' + artist.name,  :style => 'max-width:' + artist.image_max_width %>
                            <% else %>
                              <%= image_tag artist.image_vert, :class=> 'artist-image-left', :alt => 'Vertical image of' + artist.name %>
                            <% end %>
                        </div>
                        <% if not artist.single_image %>
                          <div class="col-md-8">
                            <%= image_tag artist.image_horz_1, :class => 'artist-image-right', :alt => 'Horizontal image of' + artist.name %>
                            <%= image_tag artist.image_horz_2, :class => 'artist-image-right', :alt => 'Horizontal image of' + artist.name %>
                          </div>
                        <% end %>
                    </div>
                </div>
                <div class="artist-bio">
                    <%= artist.bio.main %>
                </div>
                <hr>
                <% if artist.release %>
                <div class="recent-release">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <%= image_tag artist.release.image_sm, :class => 'meida-object', :alt => artist.release.image_alt, :style => "width: 123px" %>
                            </a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading"><%= artist.release.title %></h2>
                            <%= artist.release.description %>
                        </div>
                    </div>
                </div>
                <hr>
                <% end %>
                
                <h1>Video</h1>
                <div class="artist-video">
                    <%= artist.featured_video %>
                </div>
                <% if artist.bio.detail %>
                <h1> Bio </h1>
                <div class="artist-bio"> <%= artist.bio.detail %> </div>
                <% end %>
                <% if artist.bio.origin %>
                <div class="artist-bio"> <%= artist.bio.origin %> </div>
                <% end %>
                <% if artist.bio.played_with %>
                <div class="artist-bio"> <%= artist.bio.played_with %> </div>
                <% end %>

                <!-- <% unless artist_name == 'muyassar-kurdi' %> -->
                <!--   <%= partial(:artist_instagram_photos, :locals => {:aname =>  artist_name.gsub(/-/, '_') }) %> -->
                <!-- <% end %> -->
                <!-- put instagram photos back --->
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
            <% if !artist.release %>
            <div>
                <%= image_tag 'img/FMLogo_200.png', :class => 'right-bar-log', :alt => 'FM Logo', :width => '220px' %>
            </div>
            <% end %>
            
            <% if artist.release %>
            <div>
                <h2>Releases</h2>
                <div class="releases">
                    <div class="release">
                        <%= image_tag artist.release.image_sm, :alt => artist.release.image_alt %>
                        <div class="release-formats">
                            <button type="button" class="btn btn-block buy">order album</button>
                        </div>
                    </div>
                </div>
            </div>
            <% end %>
            <%= partial(:main_sidebar, :locals => {:artist_name => artist_name }) %>
            <%= partial(:artist_social_media, :locals => {:artist_name => artist_name }) %>
        </div><!--/.sidebar-offcanvas-->
    </div><!--/row-->
    <hr>
    <% if artist.release %>
    <!-- Modal -->
    <div class="modal fade" id="release-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="release-title">
                        <%= artist.name %> - <span class="release-title-format"><span>
                                <span class="release-title-format"><%= artist.release.formats.first.format.description %><span>
                    </h2>
                    <%= image_tag artist.release.image_lg, :class => 'release-full-size-img img-responsive', :alt => artist.release.image_alt %>
                    <div class="release-price"><%= artist.release.formats.first.format.price %></div>
                    <div class="release-purchase"></div>
                </div>
                <div class="modal-body">
                    <div class="release-description"><%= artist.release.description_sm %></div>

                    <div>
                    <% button = artist.paypal_button %>
                    <script id="test-button" async="async" src="<%= button.destination %>"
                            data-button="<%= button.type %>" 
                            data-name="<%= button.purchase_name %>" 
                            data-amount="<%= button.amount %>" 
                            data-shipping="<%= button.shipping %>" 
                            data-tax="<%= button.tax %>" 
                            data-callback="<%= button.host %>" 
                            data-env="<%= button.env %>"
                            ></script>
                    </div>
                    
                    <% if artist.release.formats.count > 1 %>
                    <select class="modal-selectpicker">
                        <% artist.release.formats.each_with_index do |rr, index| %>
                        <% v = rr.format.value.gsub('-', ' ').titleize %>
                        <option value="<%= rr.format.value %>" data-description="<%= rr.format.description %>" data-price="<%= rr.format.price %>"><%= v %></option>
                        <% end %>
                    </select>
                    <% end %>
                    
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Track</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody>
                      <% artist.release.tracks.each_with_index do |r, index| %>
                      <tr> 
                        <th scope="row"><%= index.next() %></th>
                        <td><%= r.track.title %></td>
                        <td><%= r.track.time %></td>
                      </tr>
                    <% end %>
                    </tbody>
                </table>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <% end %>
</div>

