---
title: Flying Moonlight Records | Erin Durant | Preorder
---

<% artist = data.artists['erin-durant'] %>
<div>
  <div>
    <div>
      <div>
        <h1 class="erin-artist-name"> <%= artist.name %></h1>
        <h2 class="erin-release-title"> <%= artist.release.promo_headline %></h2>
           <%= image_tag artist.release.image_lg, :class => 'erin-image-border release-full-size-img img-responsive', :alt => artist.release.image_alt, :style => "width: 400px;" %>
        <div class="release-price"></div>
        <div class="release-purchase"></div>
      </div>
      <div>
        <iframe width="80%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/280593121&amp;color=ff5500&amp;inverse=false&amp;auto_play=true&amp;show_user=true"></iframe></br>
        <div class="release-description"><i>"Then she took her seat at the piano. Wood-warmed notes flowed out over the room. She sang, a high clear voice with curls in it." - New York Times</i></div>
        <div class="erin-artist-bio"><%= artist.bio.main %></div>
        <div class="release-description"><%= artist.release.description_sm %> Limited 100 copies.</div>
        <div class="release-description"><h2>Cassette pre-orders ship November, 2016.</h2></div>
        <div class="release-description">I live in:
          <select id="country">
            <option name="us" selected> United States</option>
            <option name="ca">Canada</option>
            <option name="other">EU, Asia, South America</option>
          </select>
        </div>
        <div>
          <% button = artist.paypal_button %>
          <script id="test-button" async="async" src="<%= button.destination %>"
                  data-button="<%= button.type %>" 
                  data-name="<%= button.purchase_name %>" 
                  data-amount="<%= button.amount %>" 
                  data-shipping="<%= button.shipping %>" 
                  data-tax="<%= button.tax %>" 
                  data-callback="<%= button.host %>" 
                  data-env="<%= button.env %>"
                  ></script>
        </div>
        <div id="preorder-price">
          <h2><span><%= artist.release.formats.first.format.price %> plus shipping $(<span class="shipping-val"><%= button.shipping %></span>)<span></h2>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th></th>
              <th>Track</th>
              <th>Time</th>
            </tr>
          </thead>
          <tbody>
            <% artist.release.tracks.each_with_index do |r, index| %>
            <tr>
              <th scope="row"><%= index.next() %></th>
              <td><%= r.track.title %></td>
              <td><%= r.track.time %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <h1 class="erin-release-title"> Tour </h1>
        <div class="erin-tour-dates">
          <p>October 7 Louisville, KY @ ARTxFM radio</p>
          <p>October 8 Denver, CO @ House show</p>
          <p>October 10 Black Rock Desert, Nevada @ Salt Flats Campout</p>
          <p>October 12 Oakland, CA @ Starline Social Club*</p>
          <p>October 14 Big Sur, CA @ Henry Miller Library*</p>
          <p>October 15 Santa Cruz, CA @ Dan & Amy's*^</p>
          <p>October 16 Nevada City, CA @ Nail Factory*</p>
          <p>October 17 Los Angeles, CA @ Honey Power</p>
          <p>October 18 Topanga, CA @  131 Topanga</p>
          <p>October 21 Vail, AZ @ Geneva's</p>
          <p>October 23 Marfa, TX @ Copa Cobanana</p>
          <p>October 25 Austin, TX @ Hackberry House</p>
          <p>October 28 New Orleans, LA @ Music Box*</p>
          <p>November 1 Brooklyn, NY @ Union Pool / Record Release show</p>
          <hr>
          <div>
            <p><strong>All Oct tour dates with Okolona</strong></p>
            <p><strong>* with Kyp Malone</strong></p>
            <p><strong>^ with Village of Spaces</strong></p>
          </div>          
        </div>
      </div>
    </div>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script>
    
    $("#country").on('change', function() {
      var name = $(this).find('option:selected').attr("name"),
      shipping = "3.00";
      if (name == "ca") {
        shipping = "3.00"
      } else if (name == "other") {
        shipping = "4.50"
      }
      $(".paypal-button input:hidden[name=shipping]").val(shipping);
      $(".shipping-val").html(shipping);
    });
  </script>
</div>
