---
title: Flying Moonlight Records
---
<%= partial(:navigation) %>
<%= partial(:featured_releases) %>
<div class="media">
  <h1> News </h1>
  <% data.news.each do |story| %>
  <div class="media-body">
    <h2 class="media-heading"> <%= story.title %> </h2>
    <p><%= story.body %></p>
  </div>
  <hr>
  <% end %>
</div> <!-- end media -->

<h2>Flying Moonlight Around the World</h2>
<div class="photo-row row">
  <% data.photos.flyingmoonlight.each do |url| %>
  <img class="col-md-4 instagram-image" style="width: 32%; height: 32%;" src="<%= url %>"/>
  <% end %>
</div>
<%= partial(:featured_releases_modal) %>
